@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,700');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fefefe;
}

#section1 {
  background-image: url('/assets/images/c2-hero.jpg');
  background-position: 100% -140px;
  background-size: 40%;
  background-repeat: no-repeat;
  box-shadow: inset 0 100px 70px -25px rgba(0, 0, 0, 0.05);
}

li.nav-item a.nav-link {
  color: #28a745 !important;
  &:hover {
    color: #19692c !important;
  }
}

.nav-tabs {
  .nav-item.show .nav-link, .nav-link.active {
    color: #495057 !important;
  }
}

._2-button {
  margin-right: 20px;
  margin-left: 20px;
  padding: 15px 40px 13px;
  border-radius: 50px;
  box-shadow: 0 0 9px 2px hsla(0, 0%, 100%, 0.05), 0 6px 18px 2px rgba(82, 210, 188, 0.3);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  text-transform: uppercase;
  &:hover {
    background-color: #19692c;
    box-shadow: 0 0 14px 3px hsla(0, 0%, 100%, 0), 0 6px 25px 3px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate(0px, -1px);
    -ms-transform: translate(0px, -1px);
    transform: translate(0px, -1px);
    color: #fff;
    text-decoration: none;
  }
}

.clear {
  background-color: rgba(40, 167, 69, 0.48);
  box-shadow: none;
  color: #19692c;
  border: none;
  &:hover {
    background-color: white;
    color: #19692c;
  }
}

.nav-tabs {
  .nav-item.show .nav-link, .nav-link.active {
    background-color: transparent;
    border-color: transparent;
  }
}

img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  &:hover {
    -webkit-filter: none;
    filter: none;
  }
}

#fact2 {
  background-image: url("/assets/images/fact2.jpg");
  background-position: 80% 50%;
  background-size: 25%;
  background-repeat: no-repeat;
}

#cta1 {
  z-index: 10;
  padding-top: 80px;
  background-color: #548853;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 110, 244, 0.25)), to(rgba(33, 110, 244, 0.25))), url("/assets/images/cta-1.png");
  background-image: linear-gradient(180deg, rgba(33, 110, 244, 0.25), rgba(33, 110, 244, 0.25)), url("/assets/images/cta-1.png");
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  color: #fff;
}

#cta3 {
  background-image: url("/assets/images/cta-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-pills {
  .nav-link.active, .show > .nav-link {
    color: #fff;
    background-color: #495057 !important;
  }
}

div.nav a.nav-link {
  &.active {
    color: white !important;
  }
  color: #28a745 !important;
}

.c2-preview > a.active {
  border-bottom: solid #495057 !important;
}

.navbar-brand > img {
  filter: none;
}

.carousel-indicators li {
  background-color: #0a1910;
}

.cg-card {
  transition: transform .2s;

  &:hover, &:focus {
    transform: scale(1.2);
    z-index: 1000;
  }

  .card-body{
    &:hover {
      color: #212529 !important;
      background-color: white;
    }
    &:before {
      background: url('/assets/images/freelancer/bg-card.jpg') no-repeat;
      content: '';
      background-position: 100% 50px;
      background-size: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: .1;
      height: 100%;
    }
    .btn {
      position: absolute;
      top: 80px;
      right: 30px;
    }
  }
}

#accordion {
  a{
    cursor: pointer;

    &:not(.collapsed) {
      color: black !important;
    }
    &.link {
      color: #28a745!important;
      text-decoration: underline;
    }
  }

  h5 {
    padding: 10px;
  }

  [data-toggle="collapse"] {
    &::after {
      display: inline-block;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: url("/assets/images/icon/chevron-down.svg");
      transform: rotate(180deg) ;
      transition: all linear 0.25s;
      float: right;
      cursor: pointer;
    }
    &.collapsed {
      &::after {
        transform: rotate(0deg) ;
        cursor: pointer;
      }
    }
  }

}

@media only screen and (max-width: 992px) {
  #section1 {
    background-position: 100% -30px;
    background-size: 50%;
  }
  .flex-column.nav-pills > a, .nav-item > a.nav-link {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  #fact2 {
    background-image: none;
  }
  .c2-preview {
    max-width: 50%;
  }
  #section1 {
    &:after {
      content: '';
      background: url('/assets/images/c2-hero.jpg') no-repeat;
      background-position: 100% 50px;
      background-size: 80%;
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% + 30px);
      z-index: -1;
      opacity: 0.2;
      height: 100%;
    }
    position: relative;
    background-image: none;
    width: 100%;
    box-shadow: none;
  }
  .cg-card {
    .card-body {
      color: #212529 !important;
      background-color: white;
    }
  }
}